{% extends 'list_things/layout.html'%}

{% block title %}Marketing{% endblock %}
{% block heading %}Stuff List{% endblock %}
{% block content %}
    <ul class="list-group col-md-6 offset-md-3 mt-3">
        {% for item in items%}
            <li class="list-group-item">{{item.item}} |
                {% if item.available == True %}
                    <span class="text-success fw-bold">Stock</span>
                {% else %}
                    <span class="text-danger fw-bold">No stock</span>
                {% endif%}
            </li>
        {% endfor %}
    </ul>
{% endblock %}